<!DOCTYPE html>
<html>
<head>

    <title>APPLOGGER</title>
    <meta charset="utf-8">
            <link href="static/css/style.css" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body id="background">
<div id="container">

    <div id="header">
    <div id="header_logo"><h1>LOGGER</h1></div><!--HEADER LOGOTIPO-->
    <div id="header_login">
    <form>
    <p>Login:</p>
<input type="text"  id="login">
<p>Senha:</p>
<input type="password"  id="senha"></input>
<input type="submit" id="entrar" value="entrar"></input>
    </form>
    <h6><a href="#">Esqueci minha senha</a></h6>
    </div><!--LOGIN-->
        </div><!--HEADER-->


<div id="form">
<span>Crie sua conta</span>
    <form>
    <p>Nome</p>
    <input type="text" id="nome"></input>
    <p>Sobrenome</p>
    <input type="text" id="sobrenome"></input>
    <div id="sexo">
    <p>Sexo</p>
    <ul>
    <li><input type="radio"  value="feminino"><p>Feminino</p></input></li>
     <li><input type="radio"  value="masculino"><p>Masculino</p></input></li>
     </ul>
     </div><!--SEXO-->
    <p>Senha</p>

    <input type="password" id="senha" >
    <input type="checkbox" id="checkbox"  value="extra_cheese"><p>Aceito os termos</p></input>
    <input type="submit" id="cadastrar" value="Cadastrar">
    </form>

</div>
</div><!--CONTAINER-->
</body>
</html>